@using Microsoft.AspNetCore.Identity
@using Pidar.Areas.Identity.Data

@inject SignInManager<PidarUser> SignInManager
@inject UserManager<PidarUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Pidar</title>

    <!-- Bootstrap First -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- NOW load Font Awesome (must be after Bootstrap) -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-pIVp5jcJHhHVd3bG4+eGZTXQzfqLV5KGmP4hYVo8Bww6ZCBxRfI7hE5H9xqAIW5RYyt9kNfzbAe4ZVg6x2GK7A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!-- Your site CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pidar.styles.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
    <partial name="_Favicons" />
</head>

<body class="d-flex flex-column min-vh-100 @ViewData["BodyClass"]">

    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">

            <div class="container-fluid position-relative">
                <a class="navbar-brand mx-auto d-lg-none" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/logo1.png" alt="Pidar Logo" style="height: 40px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewData["ActivePage"]?.ToString() == "Dataset" || Context.Request.Path.StartsWithSegments("/Datasets") ? "active" : "")"
                               asp-area="" asp-controller="Datasets" asp-action="Index">Datasets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewData["ActivePage"]?.ToString() == "Statistic" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Statistic">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewData["ActivePage"]?.ToString() == "Download" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Download">Download Datasets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewData["ActivePage"]?.ToString() == "Contribute" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Contribute">Contribute</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewData["ActivePage"]?.ToString() == "About" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="About">About Pidar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewData["ActivePage"]?.ToString() == "Xnat" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Xnat">XNAT</a>
                        </li>
                    </ul>

                    <a class="navbar-brand position-absolute start-50 translate-middle-x d-none d-lg-block"
                       asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/logo1.png" alt="Pidar Logo" style="height: 40px;">
                    </a>

                    <div class="d-flex align-items-center ms-auto">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="container py-5">
        <main role="main" class="flex-fill">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-white text-black-50 text-center py-3">
        <section class="contributors">
            <h2>Support for <strong>PIDAR</strong> provided by:</h2>

            <div class="contributor"><a href="https://www.ibb.cnr.it/" target="_blank"><img src="/images/ibb.PNG" /></a></div>
            <div class="contributor"><a href="https://www.unito.it/" target="_blank"><img src="/images/unito.png" /></a></div>
            <div class="contributor"><a href="https://www.eurobioimaging.eu/" target="_blank"><img src="/images/Immagine1.png" /></a></div>
            <div class="contributor"><a href="https://www.cnr.it/" target="_blank"><img src="/images/cnr.PNG" /></a></div>

            <h2>Funding sources</h2>

            <div class="funding-row">
                <div class="contributor"><a href="https://www.eosc-life.eu/" target="_blank"><img src="/images/eosc-life-transformed.png" /></a></div>
                <div class="contributor"><a href="https://www.eurobioimaging.eu/evolve/" target="_blank"><img src="/images/evolve.png" /></a></div>
                <div class="contributor"><a href="https://eosc4cancer.eu/" target="_blank"><img src="/images/eosc-cancer.png" /></a></div>
                <div class="contributor"><a href="https://founding-gide.eurobioimaging.eu/" target="_blank"><img src="/images/founding-gide.png" /></a></div>
                <div class="contributor"><a href="https://european-union.europa.eu/index_en" target="_blank"><img src="/images/Funded-EU.png" /></a></div>
            </div>
        </section>


        <div>
            <p>&copy; <span id="year"></span> Università di Torino. All rights reserved.</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <button id="topBtn" type="button" class="btn btn-primary btn-lg rounded-circle shadow"
            style="display: none; position: fixed; bottom: 40px; right: 40px; z-index: 1050;"
            title="Go to top">
        <i class="bi bi-arrow-up"></i>
    </button>

    <script>
        const topBtn = document.getElementById("topBtn");

        window.addEventListener('scroll', function () {
          topBtn.style.display = (document.documentElement.scrollTop > 100) ? "block" : "none";
        });

        topBtn.addEventListener("click", () => {
          window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="https://pidar.hpc4ai.unito.it/matomo/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '1']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->

</body>
</html>
