
@model PaginatedList<Pidar.Models.Metadata>
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Pidar.Areas.Identity.Data
@inject SignInManager<PidarUser> SignInManager
@inject UserManager<PidarUser> UserManager
@{
    ViewData["Title"] = "Index";
}



    <div id="sfondo" class="d-flex justify-content-center align-items-start">
        <img src="/images/sfondo.png" class="img-fluid" alt="Background Image" style="padding-bottom: 20px;">
    </div>
    <h3 class="text-center">The Preclinical Image DAtaset Repository (PIDAR) is a public repository of metadata information of preclinical image datasets from any imaging modality associated to peer-review publications.</h3>
   <div class="alert alert-info mb-4">
    
  <div class="row g-4">
  <div class="col-md-4">
    <div class="stat-card bg-success zoom-card">
      <h3>@ViewData["MetadataCount"]</h3>
      <p class="fw-semibold fst-italic">Datasets</p>
      <div class="card-icon">💾</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="stat-card bg-primary zoom-card">
      <h3>@ViewData["TotalSampleSize"]</h3>
      <p class="fw-semibold fst-italic">Total Subjects</p>
      <div class="card-icon">🔗</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="stat-card bg-danger zoom-card">
      <h3>@ViewData["TableColumnCount"]</h3>
      <p class="fw-semibold fst-italic">Metadata</p>
      <div class="card-icon">📝</div>
    </div>
  </div>
</div>

</div>






@if (SignInManager.IsSignedIn(User))
{
        <div class="row justify-content-between align-items-center mb-2">
            <div class="col-auto">
                <a asp-action="Create" class="btn btn-primary">Create New Dataset</a>
            </div>
            <div class="col-auto">
                <form asp-action="ShowSearchResults" method="get" class="form-inline">
                    <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort" />
                    <div class="input-group">
                        <input name="SearchPhrase" id="SearchPhrase" 
                               class="form-control mr-2" 
                               placeholder="Enter search phrase" 
                               value="@Context.Request.Query["SearchPhrase"]" />
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
}
else
{
        <div class="row justify-content-lg-end justify-content-center">
            <div class="col-md-4 col-12">
                <form asp-action="ShowSearchResults" method="get">
                    <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort" />
                    <div class="form-group mb-2 form-inline">
                        <div class="input-group">
                            <input name="SearchPhrase" id="SearchPhrase" 
                                   class="form-control mr-2" 
                                   placeholder="Enter search phrase" 
                                   value="@Context.Request.Query["SearchPhrase"]" />
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
}



<!-- table starts here -->

<div class="table-responsive">
    <table class="table table-bordered table-striped mx-auto text-center" style="min-width: 800px;">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DisplayIdSortParam"]">
                        Dataset ID
                        @* we show DisplayId instead of DatasetID *@
                        @if (ViewBag.CurrentSort == "displayid_desc")
                        {
                                <i class="fas fa-sort-down"></i>
                        }
                        else
                        {
                                <i class="fas fa-sort-up"></i>
                        }
                    </a>
                </th>
                <th>Imaging Modality</th>
                <th>Institution</th>
                <th>Imaging Facility</th>
                <th>Species</th>
                <th>Sample Size</th>
                <th>Disease Model</th>
                <th>Organ/Tissue</th>
                <th>License</th>
                <th>Status</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr style="text-align: center; vertical-align: middle;">
                        <td >
                            <a asp-action="Details" asp-route-id="@item.DisplayId" class="text-decoration-none text-primary fw-bold hover-effect">
                            @item.DisplayId
                            </a>
                        </td>

                        <td>@item.ImagingModality</td>
                        <td>@item.Institution</td>
                        <td>@item.ImagingFacility</td>
                        <td>@item.Species</td>
                        <td>@item.OverallSampleSize</td>
                        <td>@item.DiseaseModel</td>
                        <td>@item.OrganOrTissue</td>
                        <td>@item.License</td>
                        <td>@item.Status</td>
                        <td>@item.UpdatedYear</td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.DatasetId">Edit</a> |

                                    <a asp-action="Delete" asp-route-id="@item.DatasetId">Delete</a>
                                </td>
                    }

                    </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination Controls -->

<div class="d-flex justify-content-center my-4">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- Previous Button -->
            @if (Model.HasPreviousPage)
            {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-sortOrder="@ViewBag.CurrentSort"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
            }

            <!-- Page Numbers -->
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-pageNumber="@i"
                           asp-route-sortOrder="@ViewBag.CurrentSort">
                        @i
                        </a>
                    </li>
            }

            <!-- Next Button -->
            @if (Model.HasNextPage)
            {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-sortOrder="@ViewBag.CurrentSort"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
            }
        </ul>
    </nav>
</div>




